// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/blue';
// Override variables here
@import '~nativescript-theme-core/scss/index';
// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
@import './filter-select.css';

.fa {
  font-family: FontAwesome;
}

.link-container {
  margin-top: 20;
}

.links {
  text-decoration: underline;
  color: gray;
}

ActionBar {
  background-color: #687AD0;
  color: white;
}

Button {
  background-color: #687AD0;
  color: white;
}

.login-btn {
  margin-top: 15;
}